/* Sidebar css */
.sidebar {
  grid-row: 1 / 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
  background-color: lightgreen;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 60px;
  background-color: lightgoldenrodyellow;
}

.movie-lists {
  flex: 1;
  background-color: lightgoldenrodyellow;
}
