@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary: #d30000;
  --primary-muted: #7c1111;

  --text: #d5d5d5;
  --text-faint: #9b9b9b;
  --text-active: #e1e1e1;

  --font: "Inter", sans-serif;
  --logo-font: "Creepster", system-ui;

  --background: #141414;
  --background-accent: #0a0a0a;

  --neutral-1: #272727; /* click */
  --neutral-2: #2c2c2c; /* hover and active */
  --neutral-3: #333333; /* click on active */
  --neutral-4: #383838; /* hover on active */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font);
  font-size: 16px;
  overflow-x: hidden;
}

.error-message {
  color: var(--primary);
}

.button {
  background-color: var(--primary);
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 4px 4px 1px rgba(213, 213, 213, 1);
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  font-family: var(--font);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 20px;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--primary-muted);
  box-shadow: none;
  cursor: pointer;
  transform: translate(2px, 2px);
}
