/* Header css */
.header {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid black; /*remove this later*/
}

.auth-button {
  background-color: transparent;
  border: none;
  color: var(--text);
  cursor: pointer;
}
