/* Header css */
.header {
  grid-row: 1;
  grid-column: 2;
  /* position: fixed; */
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-right: 10px;
  background-color: transparent;
  width: 100%;
  top: 0;
  z-index: 100;
}

#auth-button {
  font-size: 1em;
  padding: 10px 20px;
}
