/* Header css */
.header {
  grid-row: 1;
  grid-column: 2;
  position: fixed;
  /* position: sticky; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-right: 10px;
  background-color: transparent;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 100;
}

#auth-button {
  font-size: 1em;
  padding: 10px 20px;
}
