/* Movie Details css */
.movie-details {
  display: flex;
  padding: 20px;
}

.movie-details-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 250px;
  gap: 20px;
}

.movie-details-right {
  flex: 1;
  margin: 20px;
}

.movie-image {
  border: 2px solid rgba(213, 213, 213);
  border-radius: 0 10px 10px 0;
  box-shadow: 6px 0px 1px rgba(213, 213, 213, 1);
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#dropdown {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid var(--text);
  border-radius: 4px;
  color: var(--text);
  font-size: 1em;
  text-align: center;
  padding: 10px;
  width: 100%;
  appearance: none;
}

#dropdown:focus {
  outline-color: white;
}

#dropdown:hover {
  cursor: pointer;
  font-weight: 600;
}

.stars {
  display: flex;
  cursor: pointer;
  gap: 10px;
}
